{% extends 'base.html' %}
{% block title %}Create a User{% endblock %}
{% block content %}

<form action="/users/{{ user.id }}/edit" method="POST">
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input name="first-name" type="text" class="form-control" id="first-name" aria-describedby="emailHelp" value="{{user.first_name}}">
    </div>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input name="last-name" type="text" class="form-control" id="last-name" value={{user.last_name}}>
    </div>
    <div class="form-group">
        <label for="img-url">Image URL</label>
        <input name="img-url" type="text" class="form-control" id="img-url" value="{{user.image_url}}">
      </div>
    <a href="/users/{{user.id}}" class="btn btn-primary">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

{% endblock %}