{% extends 'base.html' %}
{% block title %}Create a User{% endblock %}
{% block content %}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ user.image_url }}" alt="profile-img">
  <div class="card-body">
    <h5 class="card-title">{{ user.first_name + ' ' + user.last_name }}</h5>
    <p class="card-text">What a cooooool person!</p>
    <a href="/users/{{ user.id }}/edit" class="btn btn-primary">edit</a>
    <form action="/users/{{user.id}}/delete" method="POST">
      <button type="submit" class="btn btn-primary">delete</button>
    </form>
  </div>
</div>

{% endblock %}